header {
  text-align: center;
  background-color: rgba(218, 176, 115, 0.719);
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 10px solid rgba(107, 74, 145, 0.747);
  color: rgb(107, 74, 145);
}

button {
  color: white;
  background-color: rgb(107, 74, 145);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 70px;
  
}

 h2 {
     color: rgba(161, 119, 54, 0.795);
 }

.timer {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: crimson;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

  }

  .choices {
        border: 5px solid indigo;
      margin: auto;
      width: 200px;
  }

  .options {
    
  }