header {
  text-align: center;
  background-color: rgb(74, 145, 185);
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 10px solid rgba(107, 74, 145, 0.747);
  color: rgb(107, 74, 145);
}

button {
  color: white;
  background-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 10px solid rgb(127, 76, 185);
}

.timer {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: crimson;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }
